.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  padding: 0 48px 32px 48px;
  background: rgba(20, 20, 20, 0.65);
  backdrop-filter: blur(12px);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav a.active {
  color: #ff7f11;
  font-weight: 600;
}


.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff7f11;
  letter-spacing: 1px;
}

.navbar-menu {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s, border-bottom 0.2s;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
}

.navbar-menu li a:hover,
.navbar-menu a.active {
  color: #ff7f11;
  border-bottom: 2px solid #ff7f11;
  font-weight: 700;
}
